#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --vh: 1vh;
}

.container {
  width: 100%;
  max-width: 600px;   /* or whatever fits your design */
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.inputGame {
  width: 80%;
  font-size: 1.2rem;      /* prevents iOS zoom */
  padding: 0.8rem;   /* gives finger space */
  border-radius: 1rem;
}

.buttonGame {
  width: 80%;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 1rem;
}

.buttonGame:active {
  filter: brightness(0.85);
}

svg text {
  font-family: "Comic Sans MS";
  /* font-size: 20px; */
  /* fill: black; */
}

.displayBackground {
  background-color:black;
  position: fixed; /* locks it in place */
  top: 0;
  left: 0;
  width: 100vw;   /* full viewport width */
  height: 100vh;  /* full viewport height */
}

.gameBackground {
  position: fixed; /* locks it in place */
  top: 0;
  left: 0;
  width: 100vw;   /* full viewport width */
  /* height: 100vh;  full viewport height */
  height: calc(var(--vh) * 100);
  padding-bottom: env(safe-area-inset-bottom);
}

.overlay {
  position: fixed;
  top: 1vh;
  left: 1vw;
  width: 98vw;
  height: 98vh;
  background-color: grey;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: "white";
  padding: "20px";
  border-radius: "10px";
  min-width: "300px";
  text-align: "center";
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* .buttonGame {
  font-size: 16px;      
  padding: 12px 16px;  
  border-radius: 8px;
  min-width: 100px;
  min-height: 44px; 
} */

.text {
  user-select: none;
  cursor: default;
}

.textGame{
  font-size: 1.2rem;
  font-family: "Comic Sans MS";
}

.pulse {
  animation: pulse 1.5s infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.silhouette {
        /* filter: `brightness(0) saturate(100%)`,
        // optional: change silhouette color
        WebkitMaskImage: `url(/my-image.png)`,
        WebkitMaskRepeat: "no-repeat",
        WebkitMaskSize: "contain",
        backgroundColor: color, */
      filter: brightness(0) saturate(100%) invert(0) sepia(1) saturate(10000%) hue-rotate(0deg);
}

.lootGlow {
  filter: "drop-shadow(0 0 1px green)";
}

/* .centertext {
  y: "20";
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
